ul.list-inline li{
    padding: 0 30px;
    vertical-align: top;
}
.avatar{
    width:150px;
    max-height:150px;
}
footer{
    margin-top:30px;
    background:rgba(27,27,27,0.7);
}
#subscribed_panel{
    margin:60px auto;
}
li{
    transition:box-shadow 0.5s;
}